* {
  margin: 0;
}
html{
  margin-top: 50px;
  margin-left: 100px;
}

h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

.btn {
    width: 8.5em;
    height: 4.5em;
    background-color: #E0E0E0;
}
.btnZero {
  width: 17em;
  height: 4.5em;
  background-color: #E0E0E0;
}
.btnOperational{
  width: 8.5em;
  height: 4.5em;
  background-color: #EA9551;
  color:white;
}
.display-screen {
  height: 130px;
  width: 373px;
  background-color: #9E8164;
  color: white;
  font-size: 40px;
}
.division {
  color: white;
  font-weight: 600;
}
.multiplication {
  color: white;
  font-weight: 600;
}
.minus {
  color: white;
  font-weight: 600;
}
.plus {
  color: white;
  font-weight: 600;
}
.equal {
  color: white;
  font-weight: 600;
}
.display-result {
  float:right;
  margin-top: 50px;
  margin-right: 30px;
}
